{% extends 'adminbase.html.twig' %}

{% block title %}Restaurant Home Page{% endblock %}

{% block body %}
<SCRIPT language="JavaScript" type="text/javascript">
    function openWin(windowURL,windowName,windowFeatures){
        window.open(windowURL,windowName,windowFeatures);}
</SCRIPT>
<!-- **********************************************************************************************************************************************************
   MAIN CONTENT
   *********************************************************************************************************************************************************** -->
<!--main content start-->
<section id="main-content">
    <section class="wrapper site-min-height">
        <h3><i class="fa fa-angle-right"></i> Restaurant List</h3>
        <div class="row mt">
            <div class="col-lg-12">
                <p>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reservation[0].id }}</td>
            </tr>
            <tr>
                <th>Userid</th>
                <td><a href="{{ path('admin_user_show', {'id': reservation[0].userid}) }}">
                        {{ reservation[0].uname }}</a></td>
            </tr>


            <tr>

                <th>Restaurant</th><td>
                    <a href="{{ path('admin_restaurant_show', {'id': reservation[0].restaurantid}) }}">
                        {{ reservation[0].rname }}
                    </a>
                </td>
            </tr>
            <tr>
                <th>Food</th><td>{{ reservation[0].fname }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ reservation[0].name }}</td>
            </tr>
            <tr>
                <th>Surname</th>
                <td>{{ reservation[0].surname }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ reservation[0].email }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ reservation[0].phone }}</td>
            </tr>

            <tr>
                <th>Total</th>
                <td>{{ reservation[0].total }}</td>
            </tr>
            <tr>
                <th>Ip</th>
                <td>{{ reservation[0].ip }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ reservation[0].note }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ reservation[0].message }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ reservation[0].status }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ reservation[0].created_at ? reservation.created_at|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Updated_at</th>
                <td>{{ reservation[0].updated_at ? reservation.updated_at|date('Y-m-d H:i:s') : '' }}</td>
            </tr>

        </tbody>
    </table>


    <a href="{{ path('admin_reservation_edit', {'id': reservation[0].id}) }}">edit</a>

                </p>
            </div>
        </div>
    </section>
    <!-- /wrapper -->
</section>
    <!-- /MAIN CONTENT -->
    <!--main content end-->
{% endblock %}