<footer>
    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-pb-sm">
                    <h2>Lutong Bahay</h2>
                    <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind.</p>
                    <p class="colorlib-social-icons">
                        <a href="#"><i class="icon-facebook4"></i></a>
                        <a href="#"><i class="icon-twitter3"></i></a>
                        <a href="#"><i class="icon-googleplus"></i></a>
                        <a href="#"><i class="icon-dribbble2"></i></a>
                    </p>
                </div>
                <div class="col-md-3 col-pb-sm">
                    <h2>Latest Blog</h2>
                    <div class="f-entry">
                        <a href="#" class="featured-img" style="background-image: url({{ asset('assets') }}/images/dish-5.jpg);"></a>
                        <div class="desc">
                            <span>May 5, 2018</span>
                            <h3><a href="#">How to cook beef Grilled with potato</a></h3>
                        </div>
                    </div>
                    <div class="f-entry">
                        <a href="#" class="featured-img" style="background-image: url({{ asset('assets') }}/images/dish-7.jpg);"></a>
                        <div class="desc">
                            <span>May 5, 2018</span>
                            <h3><a href="#">A Japanese Master Chef</a></h3>
                        </div>
                    </div>
                    <div class="f-entry">
                        <a href="#" class="featured-img" style="background-image: url({{ asset('assets') }}/images/dessert-3.jpg);"></a>
                        <div class="desc">
                            <span>May 5, 2018</span>
                            <h3><a href="#">Special Recipe for this month</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-pb-sm">
                    <h2>Instagram</h2>
                    <div class="instagram">
                        <a href="#" class="insta-img" style="background-image: url({{ asset('assets') }}/images/dessert-1.jpg);"></a>
                        <a href="#" class="insta-img" style="background-image: url({{ asset('assets') }}/images/dessert-2.jpg);"></a>
                        <a href="#" class="insta-img" style="background-image: url({{ asset('assets') }}/images/dish-9.jpg);"></a>
                        <a href="#" class="insta-img" style="background-image: url({{ asset('assets') }}/images/dish-2.jpg);"></a>
                    </div>
                </div>
                <div class="col-md-3 col-pb-sm">
                    <h2>Newsletter</h2>
                    <p>A small river named Duden flows by their place and supplies it with the necessary regelialia</p>
                    <div class="subscribe text-center">
                        <div class="form-group">
                            <input type="text" class="form-control text-center" placeholder="Enter Email address">
                            <input type="submit" value="Subscribe" class="btn btn-primary btn-custom">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>
								<span class="block">&copy; <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --><br></span>
                        <span class="block">Demo Images: <a href="http://unsplash.com/" target="_blank">Unsplash</a> &amp; <a href="https://www.pexels.com/" target="_blank">Pexel</a></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
</div>