<!-- Favicons -->
<link href="img/favicon.png" rel="icon">
<link href="img/apple-touch-icon.png" rel="apple-touch-icon">
<!-- Bootstrap core CSS -->
<link href="{{ asset('assets') }}/admin/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<!--external css-->
<link href="{{ asset('assets') }}/admin/lib/font-awesome/css/font-awesome.css" rel="stylesheet"/>
<!-- Custom styles for this template -->
<link href="{{ asset('assets') }}/admin/css/style.css" rel="stylesheet">
<link href="{{ asset('assets') }}/admin/css/style-responsive.css" rel="stylesheet">




//form start******************
<div class="form-panel">

<form role="form" class="form-horizontal style-form" name="image" action="{{ path('user_image_new', {'id':id}) }}"
      method="post" enctype="multipart/form-data">
    <div class="form-group has-success">
        <label class="col-lg-2 control-label">First Name</label>
        <div class="col-lg-10">
            <input type="text" id="image_title" name="image[title]" maxlength="50" class="form-control">
            <input type="hidden" id="image_restaurant" name="image[restaurant]" class="form-control" value="{{ id }}">
            <p class="help-block">Successfully done</p>
        </div>
    </div>


    <div class="form-group has-warning">
        <label class="col-lg-2 control-label">Email</label>
        <div class="col-lg-10">
            <input class="form-control" type="file" id="image_image"  name="image[image]">
            <p class="help-block">Something went wrong</p>
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
            <button class="btn btn-theme" type="submit">Submit</button>
        </div>
    </div>
</form>
</div>

<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Image</th>
        <th>actions</th>
    </tr>
    </thead>
    <tbody>
    {% for image in images %}
        <tr>
            <td>{{ image.id }}</td>
            <td>{{ image.title }}</td>
            <td><img src="{{ asset('uploads/images/' ~image.image) }}" height="60"></td>
            <td>
                <form method="post" action="{{ path('user_image_delete', {'id': image.id,'rid':id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ image.id) }}">
                    <button class="btn btn-danger">Delete</button>
                </form>

            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="4">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>


