{% extends 'adminbase.html.twig' %}

{% block title %}Edit Restaurant{% endblock %}

{% block body %}
<!-- **********************************************************************************************************************************************************
MAIN CONTENT
*********************************************************************************************************************************************************** -->
<!--main content start-->
<section id="main-content">
    <section class="wrapper site-min-height">
        <h3><i class="fa fa-angle-right"></i> Edit Category Page</h3>
        <div class="row mt">
            <div class="col-lg-12">
                <p>

                <h1>Food index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Restaurantid</th>
                <th>Description</th>
                <th>Image</th>
                <th>Price</th>
                <th>Status</th>
                <th>Number</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for food in foods %}
            <tr>
                <td>{{ food.id }}</td>
                <td>{{ food.title }}</td>
                <td>{{ food.restaurantid }}</td>
                <td>{{ food.description }}</td>
                <td>{{ food.image }}</td>
                <td>{{ food.price }}</td>
                <td>{{ food.status }}</td>
                <td>{{ food.number }}</td>
                <td>
                    <a href="{{ path('admin_food_show', {'id': food.id}) }}">show</a>
                    <a href="{{ path('admin_food_edit', {'id': food.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_food_new') }}">Create new</a>
                </p>
            </div>
        </div>
    </section>
    <!-- /wrapper -->
</section>
    <!-- /MAIN CONTENT -->
    <!--main content end-->
{% endblock %}
